In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sk

In [2]:
trf=pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/Titanic-EDA-and-Survival-prediction/master/train.csv')
tf=pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/Titanic-EDA-and-Survival-prediction/master/test.csv')

In [3]:
#1
data=[trf,tf]
df=pd.concat(data)
df.head(5)

C:\Users\iyash\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

In [4]:
#2
df.Survived=df.Survived.dropna()

In [5]:
#3
df['Has_Cabin']=df['Cabin'].notna()

In [6]:
#4
l1=[]
for i in df.Name:
    l=list(str(i).split())
    l1.append(l[1])
df['Title']=l1

In [7]:
#5
df['Embarked']=df['Embarked'].fillna('S')
df['Cabin']=df['Cabin'].fillna(value='C25')
df['Age']=df['Age'].fillna(df['Age'].mean())
df['Fare']=df['Fare'].fillna(df['Fare'].mean())

In [8]:
#6
df['Categorical_age']=pd.qcut(df.Age,4,labels=False)
df['Categorical_fare']=pd.qcut(df.Fare,4,labels=False)

In [9]:
#7
df=df.drop(columns=['Cabin','Name','PassengerId','Ticket','Age','Fare','SibSp','Parch'])

In [10]:
#8
df=pd.get_dummies(df)

In [11]:
#9
x=df[['Pclass', 'Has_Cabin', 'Categorical_age',
       'Categorical_fare', 'Embarked_C', 'Embarked_Q', 'Embarked_S',
       'Sex_female', 'Sex_male', 'Title_Billiard,', 'Title_Brito,',
       'Title_Capt.', 'Title_Carlo,', 'Title_Col.', 'Title_Cruyssen,',
       'Title_Don.', 'Title_Dr.', 'Title_Gordon,', 'Title_Impe,',
       'Title_Jonkheer.', 'Title_Khalil,', 'Title_Major.', 'Title_Master.',
       'Title_Melkebeke,', 'Title_Messemaeker,', 'Title_Miss.', 'Title_Mlle.',
       'Title_Mme.', 'Title_Mr.', 'Title_Mrs.', 'Title_Ms.', 'Title_Mulder,',
       'Title_Palmquist,', 'Title_Pelsmaeker,', 'Title_Planke,', 'Title_Rev.',
       'Title_Shawah,', 'Title_Steen,', 'Title_Velde,', 'Title_Walle,',
       'Title_der', 'Title_the', 'Title_y']]
y=df['Survived']

In [12]:
#10
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.15,random_state=0)

In [13]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,y_train)

C:\Users\iyash\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [14]:
predictions=lr.predict(x_test)

In [15]:
#11
lr.score(x_test,y_test)

0.7258883248730964